.footer{
    background-color: #1e1e1e;
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer p{
    width: 10rem;
}